.card {
  width: 270px;
  min-height: 55vh;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  position: relative;
  font-family: Arial, sans-serif;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.badge {
  position: absolute;
  top: 13px;
  left: 13px;
  background: #4caf50;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
}

.productImg {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
  padding: 15px;
  border: 2px solid #f2eeeef3;
}
.brand {
  font-size: 12px;
  color: #888;
  margin: 10px 0 5px;
}

.card h4 {
  font-size: 15px;
  margin: 0 0 8px;
  color: #333;
}

.rating {
  font-size: 13px;
  color: #f5a623;
  margin: 5px 0;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.oldPrice {
  font-size: 13px;
  color: #888;
  text-decoration: line-through;
  margin-left: 6px;
}

.stock {
  font-size: 12px;
  color: green;
  margin: 6px 0;
}

.btnContainer {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.addBtn {
  width: 100% !important;
  height: 42px;
  background: #e4002b;
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qtyBox {
  width: 100% !important;
  height: 42px;
  background: #e4002b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border-radius: 8px;
}

.qtyBox button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: none;
  background: white;
  color: #e4002b;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qtyBox span {
  color: white;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.addBtn:hover {
  background: #c80025;
}

.qtyBox button:hover {
  background: #f2f2f2;
}
h6 {
  width: max-content;
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  right: 10px;
  background: #f2eeeedb;
}